registry=https://bin.swisscom.com/artifactory/api/npm/apps-team-npm-virtual/
//bin.swisscom.com/artifactory/api/npm/apps-team-npm-virtual/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJlUGJKU2JoX3VsaU5rTXRxdUZoSVR5NjQtVkJrWlFsVGJpMk1uS1pfN0tJIn0.eyJzdWIiOiJqZnJ0QDAxYnl0aGg2NGM2NXR3MXAxZWJmcG0xM3MzL3VzZXJzL3RhYXdhY28zIiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9ucy91c2VyIiwiYXVkIjoiamZydEAwMWJ5dGhoNjRjNjV0dzFwMWViZnBtMTNzMyIsImlzcyI6ImpmcnRAMDFieXRoaDY0YzY1dHcxcDFlYmZwbTEzczMvdXNlcnMvX3N5c3RlbV8iLCJleHAiOjE3NjIzNDc1NzMsImlhdCI6MTc1OTc1NTU3MywianRpIjoiN2NlNTYwZDAtMDAxNy00ODJlLTk3ODctMDZmYmJkYWNjZmY4In0.qM_xsqD-fkc91So9lR_LHOpZqO2lL4PwIpVY2Vz1WwLGRRO7byO_7qz7D5RGEtjiGiGmUhIHQfjv1fPoSbNQr71YZoWJueBPZ0NAltwXAeWjyBH9waP9Ac_MZ9ThJ2uX9_k9gQ9YV3hO8ignhXpUMt7_-YUTH8HFWZvc081aGVwGdYdwy433nclR97IcDWQMtXm0iOeymZcfVNHMRTQREbmDXKv6yWUEWslGwVz2A-8h_Ja3itiySXmwEFF1Q4SJqGp2oYLNFeU1thzUwbtpuj-7yARuqwn1QAyMDYlFLFQeakVog856YmvkHva-vyT-1QWHGsAGXYcEuypsVNCAzw
