DATABASE_URL=postgres://cwx_dev:cwx_password@transfer-app-timescaledb:5432/transfer_app

MINIO_ENDPOINT=transfer-app-minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio_devel
MINIO_SECRET_KEY=minio_devel
MINIO_USE_SSL=false

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

NEXT_PUBLIC_BACKEND_URL=http://localhost:3000/api

DOWNLOAD_SERVICE_URL=http://localhost:3000/